<!DOCTYPE html>
<html lang="en">
<head>
    <title>D.Tube - Decentralized Video Platform</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<link rel="stylesheet" href="assets/vendor/bootstrap/dist/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/index.css">
    <link rel="icon" type="image/png" href="assets/img/favicon.png">
</head>
<body data-spy="scroll" data-target="#nav" data-offset="100">

<div id="app">
    <nav id="nav" :class="'navbar navbar-expand-lg navbar-light bg-white fixed-top' + (scrolled ? ' scrolled' : '')" v-cloak>
        <button class="navbar-toggler border-0 mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <img src="assets/img/logo.png" class="logo"/>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li v-if="scrolled" class="d-none d-lg-block">
                    <a href="#header"><img src="assets/img/logo.png" class="logo"/></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#what-is-dtube">What is D.Tube?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#faq">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contributing">Contributing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#footer">Links</a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="header">
        <img src="assets/img/logo.png" class="mx-auto mw-100 d-block"/>
    </div>
    <div class="container" id="what-is-dtube">
        <h1 class="text-center mt-5 mb-5">What is <a href='https://d.tube'>D.Tube</a>?</h1>
        <p class="text-dark lead">
            D.Tube an experimental <a href='https://github.com/dtube/production'>web application</a> built on top of the STEEM Blockchain and the IPFS peer-to-peer network.
            D.Tube aims to become an alternative to YouTube that allows you to watch or upload videos on IPFS and share or comment about it on the immutable STEEM Blockchain, while earning cryptocurrency doing it.
            <br><br>
            Because of the decentralized nature of IPFS and STEEM, D.Tube is not able to censor videos, nor enforce guidelines. Only the users can, through the power of their votes and downvotes.
            <br><br>
            D.Tube is serverless and has no running costs. Therefore, we don't need ads. Users are free to advertise any product or service they would like, directly inside their own videos, at their own risk of losing their subscribers.
        </p>
    </div>
    <div id="partners">
        <div class="text-center text-muted mb-4">D.Tube is powered by</div>
        <div id="partners-container">
            <div class="container">
                <div class="row text-center">
                    <div class="col-6 col-sm-3 mt-4 mt-sm-0">
                        <a href="https://steem.io" target="_blank">
                            <img src="assets/img/partners/steem.png" alt="Steem">
                        </a>
                    </div>
                    <div class="col-6 col-sm-3 mt-4 mt-sm-0">
                        <a href="https://ipfs.io" target="_blank">
                            <img src="assets/img/partners/ipfs.png" alt="IPFS">
                        </a>
                    </div>
                    <div class="col-6 col-sm-3 mt-4 mt-sm-0">
                        <a href="https://www.asksteem.com/" target="_blank">
                            <img src="assets/img/partners/asksteem.png" alt="Ask Steem">
                        </a>
                    </div>
                    <div class="col-6 col-sm-3 mt-4 mt-sm-0">
                        <a href="https://live.tube" target="_blank">
                            <img src="assets/img/partners/tube.png" alt=".tube">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="blog">
        <div class="container">
            <h1 class="text-center mb-5">D.Tube Blog</h1>
            <div id="steemit-widgets-blog">
                <div class="text-center"><i class="fa fa-spin fa-spinner"></i></div>
            </div>
            <div class="text-center mt-4">
                <a href="https://steemit.com/@dtube" class="btn btn-sm btn-danger rounded-0" target="_blank">more on steemit.com</a>
            </div>
        </div>
    </div>
    <div id="faq">
        <div class="container">
            <h1 class="text-center mb-5">FAQ</h1>
            <div v-cloak>
                <div v-for="(question, key) in faq">
                    <div :id="'faq' + (key + 1)" class="faq-header">
                        <a data-toggle="collapse" :href="'#faqCollapse' + (key + 1)">
                            {{ key + 1 }}. {{ question.question }}
                        </a>
                    </div>

                    <div :id="'faqCollapse' + (key + 1)" class="collapse faq-body" data-parent="#accordion">
                        <div v-html="renderAnswer(question.answer)" class="py-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="contributing">
        <div class="container">
            <h1 class="text-center mt-5 mb-5">Contributing</h1>
            <div class="row text-center">
                <div class="col-12 col-sm-6">
                    <h4 class="text-muted">Source Code</h4>
                    <a href="https://github.com/dtube" class="contributing-github-logo">
                        <i class="fa fa-github fa-2x"></i>
                    </a>
                </div>
                <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                    <h4 class="text-muted">Translations</h4>
                    <a href="https://crowdin.com/project/dtube" target="_blank">
                        <img src="assets/img/crowdin-logo.svg" alt="Crowdin" class="crowdin-logo">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <a target="_blank" href="https://steemit.com/@dtube" class="mt-2 mb-2 d-block">Blog</a>
                    <a target="_blank" href="https://steemit.chat/channel/dtube" class="mt-2 mb-2 d-block">Chat</a>
                    <a target="_blank" href="https://discordapp.com/channels/347020217966395393" class="mt-2 mb-2 d-block">Discord</a>
                    <a target="_blank" href="https://github.com/dtube" class="mt-2 mb-2 d-block">GitHub</a>
                </div>
                <div class="col">
                    <a target="_blank" href="https://steemit.com" class="mt-2 mb-2 d-block">steemit.com</a>
                    <a target="_blank" href="https://steem.io" class="mt-2 mb-2 d-block">steem.io</a>
                    <a target="_blank" href="https://ipfs.io/" class="mt-2 mb-2 d-block">IPFS</a>
                </div>
                <div class="w-100 d-md-none d-lg-none d-xl-none"></div>
                <div class="col mt-5 mt-md-0">
                    <h5 class="text-center">STEEM Price:</h5>
                    <div id="steemit-widgets-ticker"></div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center pt-5 pb-4 mt-5">
                    <small class="mb-3 d-block">
                        DTube, built by:<br>
                        <a class="text-muted px-1" href="https://steemit.com/@heimindanger">
                            @heimindanger
                        </a>
                        <a class="text-muted px-1" href="https://steemit.com/@nannal">
                            @nannal
                        </a>
                        <a class="text-muted px-1" href="https://steemit.com/@thekyle">
                            @thekyle
                        </a>
                        <a class="text-muted px-1" href="https://steemit.com/@superkoala">
                            @superkoala
                        </a>
                        <a class="text-muted px-1" href="https://steemit.com/@hightouch">
                            @hightouch
                        </a>
                        <a class="text-muted px-1" href="https://steemit.com/@mkt">
                            @mkt
                        </a>
                    </small>
                    <a class="github-button"
                       href="https://github.com/dtube/about"
                       data-icon="octicon-star"
                       data-show-count="true"
                       aria-label="Star dtube/about on GitHub">
                        Star
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<template id="steemit-widgets-blog-template">
    <div class="blog-post">
        <a href="${URL}" target="_blank">
            ${TITLE} ${RESTEEMED}
        </a>
        <span>${DATE}, by <a href="https://steemit.com/@${AUTHOR}" target="_blank">${AUTHOR}</a></span>
    </div>
</template>

<template id="steemit-widgets-ticker-template">
    <div style="border: 0 solid rgb(0, 168, 230); border-radius: 0; font-family: Arial, Helvetica, sans-serif;">
        <div style="color: #666;">
            <div style="display: table; table-layout: fixed; width: 100%; text-align: center; font-size: 18px; line-height: 21px; padding: 10px 0 5px;">
                <div style="display: table-cell;"><b>${PRICE_USD} USD</b><br><small>${PRICE_BTC} BTC</small></div>
                <div style="display: table-cell;"><b>${PERCENT_CHANGE_24H} <small>24h</small></b><br><small>${PERCENT_CHANGE_7D} 7d</small></div>
            </div>
            <div style="display: table; table-layout: fixed; width: 100%; text-align: center; font-size: 12px; padding: 5px 0;">
                <div style="display: table-cell;">
                    Market Cap: $ ${MARKET_CAP_USD}<br>
                    <a href="https://coinmarketcap.com/currencies/steem/" class="text-muted">coinmarketcap.com</a>
                </div>
            </div>
        </div>
    </div>
</template>

<!--<script src="assets/vendor/jquery/dist/jquery.slim.min.js"></script>-->
<!--<script src="assets/vendor/popper.js/dist/popper.min.js"></script>-->
<!--<script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>-->
<!--<script src="assets/vendor/vue/dist/vue.min.js"></script>-->
<!--<script src="assets/vendor/remarkable/dist/remarkable.min.js"></script>-->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.4.4/dist/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://buttons.github.io/buttons.js" async defer></script>
<script src="assets/js/index.js"></script>

<script src="https://cdn.steemjs.com/lib/latest/steem.min.js"></script>
<script src="https://mktcode.github.io/steemit-widgets/assets/js/steemit-widgets.min.js"></script>
<script>
    steem.api.setOptions({url: 'wss://steemd.privex.io'});
    steemitWidgets.blog({
        user: 'dtube',
        element: 'steemit-widgets-blog',
        template: 'steemit-widgets-blog-template',
        updateInterval: 0,
        limit: 5,
        resteemedIndicator: '<i class="fa fa-refresh" title="resteemed"></i>',
        dateCallback: function (date) {
            return moment.utc(date).from(moment.utc().format('YYYY-MM-DD HH:mm:ss'));
        }
    });

    steemitWidgets.ticker({
        element: 'steemit-widgets-ticker',
        template: 'steemit-widgets-ticker-template',
        currency: 'steem',
        priceBTCPrecision: 8,
        priceUSDPrecision: 2,
        updateInterval: 60
    });

</script>
</body>
</html>
