@import url("https://fonts.googleapis.com/css?family=Noto Sans:400,700,400italic,700italic&subset=latin");
body {
  font-family: "Noto Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding-top: 56px;
  position: relative; }

[v-cloak] {
  display: none; }

a {
  color: #ff1c1b;
  transition: color 0.3s ease; }
  a:hover {
    text-decoration: none;
    color: #e11c1b; }

.btn-danger {
  background: #ff1c1b; }
  .btn-danger:hover {
    background: #e11c1b; }

#nav {
  opacity: 0.5;
  transition: opacity 0.3s; }
  #nav:hover, #nav.scrolled {
    opacity: 1; }
  #nav.scrolled {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
    #nav.scrolled .navbar-toggler .logo {
      display: inline-block;
      opacity: 1;
      width: 75px;
      margin-left: 15px;
      transition: opacity 0.3s; }
    #nav.scrolled .navbar-nav .logo {
      display: block;
      opacity: 1; }
  #nav .navbar-toggler .logo {
    display: none;
    opacity: 0;
    width: 75px;
    transition: opacity 0.3s; }
  #nav .navbar-nav .logo {
    display: none;
    opacity: 0;
    width: 75px;
    margin-top: 9px;
    margin-right: 15px;
    transition: opacity 0.3s; }

#contributing {
  padding-bottom: 50px; }
  #contributing .contributing-github-logo {
    color: #bbb;
    font-size: 200%; }
    #contributing .contributing-github-logo:hover {
      color: #333; }
  #contributing .crowdin-logo {
    width: 250px;
    filter: gray;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    transition: filter 0.3s ease; }
    #contributing .crowdin-logo:hover {
      -webkit-filter: grayscale(0);
      filter: none; }

#partners {
  background: #eee;
  padding-top: 50px;
  padding-bottom: 50px; }
  #partners a img {
    max-width: 100%;
    width: 50px;
    filter: gray;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    transition: filter 0.3s ease; }
    #partners a img:hover {
      -webkit-filter: grayscale(0);
      filter: none; }

#header {
  padding: 120px 50px;
  background: url("../img/header-bg.png") center center;
  background-size: cover;
  border-bottom: solid 1px #ddd; }

#faq {
  padding: 50px 0;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  margin-top: 50px; }
  #faq .faq-header {
    background: #ff1c1b;
    border-bottom: solid 1px #fff;
    transition: background 0.3s ease; }
    #faq .faq-header:hover {
      background: #e11c1b; }
    #faq .faq-header a {
      color: #fff;
      padding: 10px;
      display: block; }
  #faq .faq-body {
    background: #fff; }
    #faq .faq-body *:last-child {
      margin-bottom: 0; }
    #faq .faq-body img {
      max-width: 100%;
      margin: 10px 0; }
    #faq .faq-body h1, #faq .faq-body h2, #faq .faq-body h3 {
      text-align: center; }

#blog {
  padding: 50px 0;
  border-bottom: solid 1px #ccc; }
  #blog .blog-post {
    color: #666;
    padding: 10px;
    transition: background 0.3s ease;
    font-size: 12px; }
    #blog .blog-post a {
      font-size: 23px;
      color: #333;
      display: block;
      line-height: 30px; }
      #blog .blog-post a .fa-refresh {
        color: #ddd;
        font-size: 18px;
        margin-left: 5px; }
      #blog .blog-post a:hover {
        text-decoration: underline; }
    #blog .blog-post span a {
      color: #ff1c1b;
      display: inline;
      font-size: 12px; }

#footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: #333;
  padding-top: 50px;
  color: #fff; }
  #footer a {
    color: #fff; }
    #footer a:hover {
      color: #e11c1b; }

#steemit-widgets-ticker {
  background: #fff;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px; }

@media (max-width: 991px) {
  #nav .navbar-nav {
    margin-top: 25px; }
    #nav .navbar-nav .nav-item .nav-link {
      text-align: center; }

  #header {
    padding: 60px 25px; }

  .lead {
    font-size: 1rem; } }

/*# sourceMappingURL=index.css.map */
